{% extends "layout.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://bitwiseshiftleft.github.io/sjcl/sjcl.js"></script>
<script src="{{url_for('static', filename='fontdetect.js')}}"></script>
<script src="{{url_for('static', filename='adframe.js')}}"></script>
<script src="{{url_for('static', filename='canvas.js')}}"></script>
<script>

function strToB64(input){
	var sha = new sjcl.hash.sha256();
	sha.update(input);
	var bitArray = sha.finalize();
	return btoa(String.fromCharCode.apply(null, new Uint8Array(bitArray)));
}

//http headers
var relevantHeaders = ["User-Agent", "Accept", "Accept-Encoding", "Accept-Language"];
var headers = {{ headers|tojson }};
relevantHeaders.forEach(function(entry) {
    console.log(headers[entry]);
});


//plugins
console.log(navigator.plugins);

//timezone
var date = new Date();
var offset = date.getTimezoneOffset();
console.log(offset);

//screen resolution
var width = screen.width;
var height = screen.height;
var colorDepth = screen.colorDepth;
console.log(width + "x" + height + "x" + colorDepth);

//do not track
var dnt = navigator.doNotTrack != null ? true : false;
console.log(dnt);

//cookies enabled
var cookieEnabled = navigator.cookieEnabled;
console.log(cookieEnabled);

//platform
var platform = navigator.platform;
console.log(platform);

//number of cores
var numCores = navigator.hardwareConcurrency;
console.log(numCores);

//fonts
var allFonts = {{ fonts|tojson }};
var detector = new Detector();
var filteredFonts = allFonts.filter(font => detector.detect(font));
console.log(filteredFonts);


//adblock
var adBlock = false;
if (typeof noAdBlock == 'undefined'){
	adBlock = true;
}
console.log(adBlock);

//canvas
console.log(canvasData);


//web gl
var canvas = document.createElement('canvas');
var gl;
var debugInfo;
var vendor;
var renderer;

try {
  gl = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
} catch (e) {
}

if (gl) {
  debugInfo = gl.getExtension('WEBGL_debug_renderer_info');
  vendor = gl.getParameter(debugInfo.UNMASKED_VENDOR_WEBGL);
  renderer = gl.getParameter(debugInfo.UNMASKED_RENDERER_WEBGL);
}

console.log(vendor, renderer);

</script>
{% endblock %}
