{% extends "layout.html" %}
{% block body %}
<h2 id="info">Calculating Fingerprint...</h2>
<h3 id="fingerprint">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://bitwiseshiftleft.github.io/sjcl/sjcl.js"></script>
<script src="{{url_for('static', filename='fontdetect.js')}}"></script>
<script src="{{url_for('static', filename='adframe.js')}}"></script>
<script src="{{url_for('static', filename='canvas.js')}}"></script>
<script>

function strToB64(input){
	var sha = new sjcl.hash.sha256();
	sha.update(input);
	var bitArray = sha.finalize();
	return btoa(String.fromCharCode.apply(null, new Uint8Array(bitArray)));
}

function insertRow(table, val1, val2){
	var tr = table.insertRow();
	var td = tr.insertCell();
	td.appendChild(document.createTextNode(val1));
	td = tr.insertCell();
	td.appendChild(document.createTextNode(val2));
}

function loadFile(filePath) {
  var result = null;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", filePath, false);
  xmlhttp.send();
  if (xmlhttp.status==200) {
    result = xmlhttp.responseText;
  }
  return result;
}

//console.log({{ip|tojson}});

//hash value for fingerprint
var hash = new sjcl.hash.sha256();

//creating table
var tbl  = document.createElement('table');
var header = tbl.createTHead();
insertRow(header, 'Attribute', 'Value');

//http headers
try {
	var relevantHeaders = ["User-Agent", "Accept", "Accept-Encoding", "Accept-Language"];
	var headers = {{ headers|tojson }};
	relevantHeaders.forEach(function(entry) {
		var header = headers[entry] ? headers[entry] : "Null"
		insertRow(tbl, entry, header);
		hash.update(header);
	});
} catch (e) {

}


//plugins
try {
	var pluginString = "";
	var plugCount = 0;
	for (plug of navigator.plugins){
		var plugObj = new Object();
		plugObj.name = plug.name;
		plugObj.filename = plug.filename;
		plugObj.description = plug.description;
		pluginString += `plugin ${plugCount}: ${JSON.stringify(plugObj)}; `;
		plugCount++;
	}
	pluginString = pluginString != "" ? pluginString : "Null"
	insertRow(tbl, 'Plugins', pluginString);
	hash.update(pluginString);

	}
catch (e) {

}
try {
	//timezone
	var date = new Date();
	var offset = date.getTimezoneOffset();
	offset = offset ? offset : "Null";
	insertRow(tbl, "TimeZone Offset", offset);
	hash.update(offset.toString());

	//screen resolution
	var width = screen.width;
	var height = screen.height;
	var colorDepth = screen.colorDepth;
	var resString = width + "x" + height + "x" + colorDepth;
	resString = resString ? resString : "Null";
	insertRow(tbl, "Screen Resolution", resString);
	hash.update(resString);
} catch (e) {

}


try {
	//do not track
	var dnt = navigator.doNotTrack != null ? true : false;
	insertRow(tbl, "Do Not Track", dnt);
	hash.update(dnt.toString());
} catch (e) {

}

try {
	//cookies enabled
	var cookieEnabled = navigator.cookieEnabled;
	insertRow(tbl, "Cookies Enabled", cookieEnabled);
	hash.update(cookieEnabled.toString());

	//platform
	var platform = navigator.platform;
	platform = platform ? platform : "Null";
	insertRow(tbl, "Platform", platform);
	hash.update(platform);
} catch (e) {

}

try {
	//number of cores
	var numCores = navigator.hardwareConcurrency;
	insertRow(tbl, "Number of CPU cores", numCores);
	numCores = numCores ? numCores : "Null";
	hash.update(numCores.toString());
} catch (e) {

}

try {
	//adblock
	var adBlock = false;
	if (typeof noAdBlock == 'undefined'){
		adBlock = true;
	}
	insertRow(tbl, "AdBlocker Present", adBlock);
	hash.update(adBlock.toString());
} catch (e) {

}

try {
	//canvas
	var canvasString = strToB64(canvasData);
	insertRow(tbl, "HTML Canvas Data", canvasString);
	canvasString = canvasString ? canvasString : "Null";
	hash.update(canvasString);
} catch (e) {

}



//web gl
var canvas = document.createElement('canvas');
var gl;
var debugInfo;
var vendor;
var renderer;

try {
	gl = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
} catch (e) {
}

if (gl) {
  debugInfo = gl.getExtension('WEBGL_debug_renderer_info');
  vendor = gl.getParameter(debugInfo.UNMASKED_VENDOR_WEBGL);
  renderer = gl.getParameter(debugInfo.UNMASKED_RENDERER_WEBGL);
}

vendor = vendor ? vendor : "Null";
insertRow(tbl, "WebGL Vendor", vendor);
hash.update(vendor);

renderer = renderer ? renderer : "Null";
insertRow(tbl, "WebGL Renderer", renderer);
hash.update(renderer);

try {
	//audio sample rate
	var AudioContext = window.AudioContext || window.webkitAudioContext;
	var audioCtx = new AudioContext();
	var audioSampleRate = audioCtx.sampleRate;
	insertRow(tbl, "Audio Sample Rate", audioSampleRate);
	audioSampleRate = audioSampleRate ? audioSampleRate : "Null";
	hash.update(audioSampleRate);

	//default latency Only for Chrome
	const audioCtx1 = new AudioContext();
	audioLatency = audioCtx1.baseLatency

	insertRow(tbl, "Audio Base Latency", audioLatency);
	audioLatency = audioLatency ? audioLatency : "Null";
	hash.update(audioLatency);

} catch (e) {

}




try {
	//fonts
	var allFonts = loadFile("static/fontlist.txt").split("\n");
	var detector = new Detector();
	var filteredFonts = allFonts.filter(font => detector.detect(font));
	var fontString = filteredFonts.join('; ');
	insertRow(tbl, "Fonts Available", fontString);
	fontString = fontString ? fontString : "Null";
	hash.update(fontString);
} catch (e) {

}



//displaying table
document.body.appendChild(tbl);

//calculating fingerprint
var bitArray = hash.finalize();
var fingerprint = btoa(String.fromCharCode.apply(null, new Uint8Array(bitArray)));
$("#info").html("Your Fingerprint");
$("#fingerprint").html(fingerprint);

</script>
{% endblock %}
