{% extends "layout.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://bitwiseshiftleft.github.io/sjcl/sjcl.js"></script>
<script src="{{url_for('static', filename='fontdetect.js')}}"></script>
<script src="{{url_for('static', filename='adframe.js')}}"></script>
<script src="{{url_for('static', filename='canvas.js')}}"></script>
<script src="{{url_for('static', filename='socialmedia.js')}}"></script>

<h1 id="info">Calculating Fingerprint...</h1>
<h2 id="fingerprint"></h2>
<div class="wrapper">
	<form>
		<input class="MyButton" type="button" value="View Fingerprint Statistics" onclick="window.location.href='plot.html'" />
	</form>
</div>

<table id="attributes">
	<tr>
		<th>Attribute</th>
		<th>Value</th>
	</tr>
</table>
<script>

function strToB64(input){
	var sha = new sjcl.hash.sha256();
	sha.update(input);
	var bitArray = sha.finalize();
	return btoa(String.fromCharCode.apply(null, new Uint8Array(bitArray)));
}

function cleanStr(input){
	return input.replace(/[- ]/g, '_').toLowerCase();
}

function insertRow(table, val1, val2){
	var tr = table.insertRow();
	var td = tr.insertCell();
	td.appendChild(document.createTextNode(val1));
	td = tr.insertCell();
	td.appendChild(document.createTextNode(val2));
}

function addSocialAndCalcFP(table, hash, fpObj, networks, rowAppend){
	var filteredNetworks = [];
	for (network of networks) {
		if (network.val) {
			filteredNetworks.push(network.name);
		}
	}
	filteredNetworks.sort();
	var networkStr = filteredNetworks.join(', ');

	networkStr = networkStr.length > 0 ? networkStr : "Null"
	fpObj[cleanStr("Logged in to")] = networkStr;
	rowAppend(table, "Logged in to", networkStr);
	hash.update(networkStr);

	//displaying table
	document.body.appendChild(tbl);

	//calculating fingerprint
	var bitArray = hash.finalize();
	var fingerprint = btoa(String.fromCharCode.apply(null, new Uint8Array(bitArray)));
	$("#info").html("Your Fingerprint");
	$("#fingerprint").html(fingerprint);

	fpObj[cleanStr("Fingerprint")] = fingerprint;

	//sending fingerprint to backend
	var port = document.domain == "localhost" ? 5000 : 80;
	var endPoint = "http://" + document.domain + ":" + port + "/dbput"
	$.ajax({
		type: "POST",
		url: "dbput",
		// The key needs to match your method's input parameter (case-sensitive).
		data: JSON.stringify(fpObj),
		contentType: "application/json; charset=utf-8",
		dataType: "json",
		//success: function(data){alert(data);},
		//failure: function(errMsg) {
		//	alert(errMsg);
		//}
	});
}

function loadFile(filePath) {
  var result = null;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", filePath, false);
  xmlhttp.send();
  if (xmlhttp.status==200) {
    result = xmlhttp.responseText;
  }
  return result;
}

//console.log({{ip|tojson}});

var fpObj = {};

//hash value for fingerprint
var hash = new sjcl.hash.sha256();

//creating table
var tbl  = document.getElementById("attributes");

//http headers
try {
	var relevantHeaders = ["User-Agent", "Accept", "Accept-Encoding", "Accept-Language"];
	var headers = {{ headers|tojson }};
	relevantHeaders.forEach(function(entry) {
		var header = headers[entry] ? headers[entry] : "Null";
		fpObj[cleanStr(entry)] = header;
		insertRow(tbl, entry, header);
		hash.update(header);
	});
} catch (e) {

}


//plugins
try {
	var pluginString = "";
	var plugCount = 0;
	if (navigator.plugins != null) {
		for (plug of navigator.plugins){
			var plugObj = new Object();
			plugObj.name = plug.name;
			plugObj.filename = plug.filename;
			plugObj.description = plug.description;
			pluginString += `plugin ${plugCount}: ${JSON.stringify(plugObj)}; `;
			plugCount++;
		}
	}
	pluginString = pluginString != "" ? pluginString : "Null"
	fpObj[cleanStr("Plugins")] = strToB64(pluginString);
	insertRow(tbl, "Plugins", pluginString);
	hash.update(pluginString);

	}
catch (e) {

}
try {
	//timezone
	var date = new Date();
	var offset = date.getTimezoneOffset();
	offset = offset ? offset : "Null";
	fpObj[cleanStr("TimeZone offset")] = offset.toString();
	insertRow(tbl, "TimeZone Offset", offset);
	hash.update(offset.toString());

	//screen resolution
	var width = screen.width;
	height = height ? height : "Null";
	var height = screen.height;
	height = height ? height : "Null";
	var colorDepth = screen.colorDepth;
	colorDepth = colorDepth ? colorDepth : "Null";

	var resString = width + "x" + height + "x" + colorDepth;
	fpObj[cleanStr("Screen Resolution")] = resString;
	insertRow(tbl, "Screen Resolution", resString);
	hash.update(resString);
} catch (e) {

}


try {
	//do not track
	var dnt = navigator.doNotTrack != null ? true : false;
	fpObj[cleanStr("Do Not Track")] = dnt.toString();
	insertRow(tbl, "Do Not Track", dnt);
	hash.update(dnt.toString());
} catch (e) {

}

try {
	//cookies enabled
	var cookieEnabled = navigator.cookieEnabled;
	fpObj[cleanStr("Cookies Enabled")] = cookieEnabled.toString();
	insertRow(tbl, "Cookies Enabled", cookieEnabled);
	hash.update(cookieEnabled.toString());

	//platform
	var platform = navigator.platform;
	platform = platform ? platform : "Null";
	fpObj[cleanStr("Platform")] = platform.toString();
	insertRow(tbl, "Platform", platform);
	hash.update(platform);
} catch (e) {

}

try {
	//number of cores
	var numCores = navigator.hardwareConcurrency;
	numCores = numCores ? numCores : "Null";
	fpObj[cleanStr("Hardware Concurrency")] = numCores.toString();
	insertRow(tbl, "Hardware Concurrency", numCores);
	hash.update(numCores.toString());
} catch (e) {

}

try {
	//adblock
	var adBlock = false;
	if (typeof noAdBlock == 'undefined'){
		adBlock = true;
	}
	fpObj[cleanStr("AdBlocker Present")] = adBlock.toString();
	insertRow(tbl, "AdBlocker Present", adBlock);
	hash.update(adBlock.toString());
} catch (e) {

}

try {
	//canvas
	var canvasString = strToB64(canvasData);
	canvasString = canvasString ? canvasString : "Null";
	fpObj[cleanStr("HTML Canvas Data")] = canvasString;
	insertRow(tbl, "HTML Canvas Data", canvasString);
	hash.update(canvasString);
} catch (e) {

}



//web gl
var canvas = document.createElement('canvas');
var gl;
var debugInfo;
var vendor;
var renderer;

try {
	gl = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
} catch (e) {
}

if (gl) {
  debugInfo = gl.getExtension('WEBGL_debug_renderer_info');
  vendor = gl.getParameter(debugInfo.UNMASKED_VENDOR_WEBGL);
  renderer = gl.getParameter(debugInfo.UNMASKED_RENDERER_WEBGL);
}

vendor = vendor ? vendor : "Null";
fpObj[cleanStr("WebGL vendor")] = vendor;
insertRow(tbl, "WebGL Vendor", vendor);
hash.update(vendor);

renderer = renderer ? renderer : "Null";
fpObj[cleanStr("WebGL renderer")] = renderer;
insertRow(tbl, "WebGL Renderer", renderer);
hash.update(renderer);

try {
	//audio sample rate
	var AudioContext = window.AudioContext || window.webkitAudioContext;
	var audioCtx = new AudioContext();
	var audioSampleRate = audioCtx.sampleRate;
	audioSampleRate = audioSampleRate ? audioSampleRate : "Null";
	fpObj[cleanStr("Audio Sample Rate")] = audioSampleRate.toString();
	insertRow(tbl, "Audio Sample Rate", audioSampleRate);
	hash.update(audioSampleRate.toString());

	//default latency Only for Chrome
	const audioCtx1 = new AudioContext();
	audioLatency = audioCtx1.baseLatency

	audioLatency = audioLatency ? audioLatency : "Null";
	fpObj[cleanStr("Audio Base Latency")] = audioLatency.toString();
	insertRow(tbl, "Audio Base Latency", audioLatency);
	hash.update(audioLatency.toString());

} catch (e) {

}


try {
	//fonts
	var allFonts = loadFile("static/fontlist.txt").split("\n");
	var detector = new Detector();
	var filteredFonts = allFonts.filter(font => detector.detect(font));
	var fontString = filteredFonts.join('; ');
	fontString = fontString ? fontString : "Null";
	fpObj[cleanStr("Fonts Available")] = strToB64(fontString);
	insertRow(tbl, "Fonts Available", fontString);
	hash.update(fontString);
} catch (e) {

}

leakSocialMediaAccounts(addSocialAndCalcFP, tbl, hash, fpObj, insertRow);

</script>
{% endblock %}
